@model Diet.Models.PatientCard
@using Diet.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Карта пациента";
}

<link href="~/css/StyleSheet.css " rel="stylesheet" />
<div>
    @await Html.PartialAsync("~/Views/Shared/Header.cshtml")
</div>
<div class=" text-white rounded bg-dark displayed">

</div>
<div class="col-md-7 col-lg-8 bloc-center w-75" style="margin-top: 40px">
    <form class="needs-validation" asp-action="CardPatient">

        @{ 
            var patient = await Patient.SelectPatient(Model.IdPatient);
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="form-group col-12">
          


            <div class="col-12">
                <h1 class="text-style-grey m-2 " style="text-align:center">Карта пациента</h1>
                    <div class="row" style="margin-top:20px; margin-bottom: 10px;">
                        <div class="col-10">
                            <p class="text-style-grey font-weight-bold" style="font-size:40px;">@patient.Surname @patient.Name @patient.Lastname</p>
                            @{ if (patient.DateOfBirth != null)
                                {
                                    <p class="lead  text-style-grey"> Дата рождения : @DateTime.Parse(patient.DateOfBirth.ToString()).ToString("D")</p>
                                }
                            }
                            <p class="lead  fw-bold text-style-grey">
                                Пол: @{ if (patient.Woman == true)
                                    {<label>Женский</label>}
                                    else
                                    { <label>Мужской</label>} }
                            </p>
                        </div>
                   </div>
             </div>
                <div class="form-group">
                    <label asp-for="@Model.IdPatient" class="control-label" style="visibility: hidden;"> </label>
                    <input asp-for="@Model.IdPatient" class="form-control" type="hidden" />
                    <span asp-validation-for="@Model.IdPatient" class="text-danger text-black-50"></span>
                </div>
                <div class="col-12" style="text-align:center">
                    <button class="btn btn-lg btn-style w-50 m-1" asp-controller="NutritionistHome" asp-action="CardPatient" style="color:black;">Добавить </button>
                </div>
            </div>

    </form>
</div>
