@model IEnumerable<Diet.Models.Dish>
@using Diet.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Список пациентов";
}

<link href="~/css/StyleSheet.css " rel="stylesheet" />
<div>
    @await Html.PartialAsync("~/Views/Shared/Header.cshtml")
</div>


<link href="~/css/StyleSheet.css " rel="stylesheet" />

@*<div class="ratio ratio-4x3 m-5 p-1">
    <h1 class="border-bottom pb-2 mb-0 ">Список блюд</h1>
    <div class="col-lg-7 text-center text-lg-start bg-style-grey">

        @{
            foreach (var item in Model)
            {
                <div class="d-flex text-muted pt-3">

                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                            <strong class="text-gray-dark">  @Html.DisplayFor(modelItem => item.Dish1) </strong>
                            <a class="text-black-50" asp-action="OneDish" asp-controller="AdminHome">Подробнее</a>
                        </div>
                    </div>
                </div>

            }
        }
    </div>  
</div>*@


<div class="container row w-100 bloc-center">
    <div class="col-sm m-3 text-style-grey ">
        <h1 class="border-bottom  m-2 p-1">Список блюд</h1>
        @{
            foreach (var item in Model)
            {
                <div class="d-flex text-muted pt-3">

                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                            <strong class="text-style-grey">  @Html.DisplayFor(modelItem => item.Dish1) </strong>
                            <a class="text-style-grey" asp-route-id="@item.IdDish" asp-action="OneDish" asp-controller="AdminHome">Подробнее</a>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
    <div class="col  m-3 p-1 text-style-grey">
        <h1 class="border-bottom  m-2 ">Список продуктов</h1>

        @{
            foreach (var item in Product.SelectDishes())
            {
                <div class="d-flex text-muted pt-3">

                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                            <strong class="text-style-grey">  @Html.DisplayFor(modelItem => item.Product1) </strong>
                            <a class="text-style-grey" asp-route-id="@item.IdProduct" asp-action="OneProduct" asp-controller="AdminHome">Подробнее</a>
                        </div>
                    </div>
                </div>

            }
        }
    </div>

    </div>