@model IEnumerable<Diet.Models.Employee>
@using Diet.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Список пациентов";
}

<link href="~/css/StyleSheet.css " rel="stylesheet" />
<div>
    @await Html.PartialAsync("~/Views/Shared/Header.cshtml")
</div>


<form>
    <h1 class="text-white">Список сотрудников </h1>
    <div class="m-5 p-5">
        <table class="table text-style-grey">
            <thead>
                <tr>
                    <th>
                        Фамилия
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Отчество
                    </th>
                    <th>
                        Должность
                    </th>
                    <th>
                        <button class="btn btn-lg btn-style w-50 m-1" asp-controller="AdminHome" asp-action="OneEmployee" style="color:black; font-size:10px;"> Добавить </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Lastname)
                        </td>
                        <td>
                            @Employee.PositionEmp(item.IdPosition)
                        </td>
                        <td>
                            <button class="btn btn-lg btn-style w-50 m-1" asp-controller="AdminHome" asp-action="OneEmployee" asp-route-id="@item.IdEmployee" style="color:black; font-size:10px;"> Подробнее </button>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </div>
</form>


