@model IEnumerable<Diet.Models.DishesProduct>
@using Diet.Models
@{
    ViewData["Title"] = "ProdInDish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ProdInDish</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDish)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduct)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>


<select multiple class="form-check">
    @{
        var listProd = Product.SelectProducts();
        foreach (var item in listProd)
        {
          <option value="@item.IdProduct" > @item.Product1 </option>
        }

    }
</select>
