@model IEnumerable<Diet.Models.Product>

@using Diet.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Список пациентов";
}

<link href="~/css/StyleSheet.css " rel="stylesheet" />
<div>
    @await Html.PartialAsync("~/Views/Shared/Header.cshtml")
</div>


<link href="~/css/StyleSheet.css " rel="stylesheet" />


<form>

    <div class="container row w-50 bloc-center">

        <div class="col-sm m-3 text-style-grey ">
            <h1 class="border-bottom  m-3 p-1">Выберите состав блюда</h1>
            @{
                var y = ViewBag.id;
                IEnumerable<int> list = DishesProduct.SelectDishProd(ViewBag.id);
                foreach (var item in Model)
                {
                    <div class="d-flex text-muted pt-3">

                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                @{
                                    if (list.Contains(item.IdProduct))
                                    {
                                        <input value="@item.IdProduct" type="checkbox" checked />
                                    }
                                    else
                                    { <input type="checkbox" value="@item.IdProduct" />
                                    }
                                }
                                <lable class="text-style-grey">  @Html.DisplayFor(modelItem => item.Product1) </lable>
                                <a class="text-style-grey" asp-route-id="@item.IdProduct" asp-action="OneProduct" asp-controller="AdminHome">Подробнее</a>
                            </div>
                        </div>
                    </div>

                }
            }
            <button class="btn btn-lg btn-style w-50 m-1" asp-controller="AdminHome" asp-action="SaveProdInDish" asp-route-id="@ViewBag.id" style="color:black;">Сохранить </button>

        </div>

    </div>

</form>

